body{
  margin:0;
  padding:0;
  align-items: center;
  justify-content: center;
}

button{
  height:80px;
  width:80px;
  cursor: pointer;
  gap: 20px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.redbutton{
  background-color: red;
  margin: 20px;
}

.greenbutton{
  background-color: green;
  margin: 20px;
}

.bluebutton{
  background-color: blue;
  margin: 20px;
}

