
.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: row-reverse;
}

.card{
  position: relative;
  left: 150%;
  max-width: 400px;
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 10px;

}

.card img{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  
}

.card h2{
  text-align: center;

}