*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    max-height: 100%;

}

@media (max-width:900px) {
    .todo-app{
        max-width: 90%;
        padding: 20px 15px 50px 15px;
        margin:50px auto;
    }
    
    button{
        padding:12px 30px;
        font-size: 14px;
        
    }

    input{
        font-size:14px;
    }
} 


@media (max-width:600px) {
    .todo-app h2{
        font-size: 24px;
        max-width: 95%;
        padding:20px 15px 40px;
    }

    .todo-app h2{
        font-size:22px;
    }

    .row{
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        align-items: stretch;
    }

    input{
        width: 100%;
        padding: 8px;
        font-size: 16px;
    }

    button{
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border-radius: 30px;
    }

    ul li{
        font-size: 16px;
        padding-left: 40px;
    }

    ul li span{
        right:5%;
    }


}


.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding:1%;
}

.todo-app{
    width:100%;
    max-width: 450px;
    background: #ffffff;
    margin:100px auto 20px ;
    padding: 30px 30px 70px 30px;
    border-radius: 10px;

}    

.todo-app h2{
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 600;
    display:flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 40px;
    margin-left : 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(228, 214, 214);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input{
    flex:1;
    border:none;
    outline: none;
    background: transparent;    
    padding:10px;
    padding-bottom: 10px;

}

button{
    border:none;
    outline: none;
    padding:16px 20px;
    background: #528c56;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
}
    

ul li{
    list-style: none;
    background: #ded5d5;
    padding: 15px 20px 10px 10px;
    border-radius: 30px;
    margin-bottom: 10px;
    justify-content: space-between;
    font-size: 18px;
    color: #000000;
    user-select: none;
    cursor: pointer;
    position: relative;
    padding-left: 50px;

}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('unchecked.png');
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;
}

ul li.checked{
    text-decoration: line-through;
    color: #22c95f;
}

ul li.checked::before{
    background-image: url('checked.png');
    background-size: cover;
    background-position: center;
}

ul li span{
    position: absolute;
    right:10%;
    top: 5px;
    width:40px;
    height: 40px;
    font-size: 20px;
    color: #000000;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

ul li span:hover{
    background: #e74c3c;
    color: #fff;
    border-radius: 50%;
}