.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    padding-bottom: 30px;
    width: 600px;
    background-color: rgb(46, 46, 47);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top:30px;
}

.text{
    color:rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 700;
}

.underline{
     width: 61px;
    height: 6px;
    border-radius: 9px;
}

.inputs{
    margin-top:55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 380px;
    height: 60px;
    background: rgb(0, 0, 0);
    border-radius: 6px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 15px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.forgot-password span{
    cursor: pointer;
    color: rgb(0, 255, 170);
}

.submit-container{
    display: flex;
    gap: 30px;
    margin-top: 190px auto;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    background: rgb(22, 211, 135);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: gray;
    color: white;
}