:root {
  font-family: Arial, sans-serif;
  background
  margin: 0;
  padding: 0;
}

.todolist{
    text-align: center;
    margin-top: 100px;
}

h1{
  font-size: 4rem;
}

button{
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addbutton{
  background-color: #28a745;
}

.addbutton:hover{
  background-color: #218838;
}

.deletebutton{
  background-color: #ff0000;
}

.deletebutton:hover{
  background-color: #6a1c02;
}

.upbutton{
  background-color: #007bff;
}

.upbutton:hover{
  background-color: #0056b3;
}

.downbutton{
  background-color: #ffc107;
}
.downbutton:hover{
  background-color: #e0a800;
}

input{
  font-size: 1.6rem;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

ol{
  padding: 0; 
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: aliceblue;
  margin-bottom: 10px;
  border: 3px solid #000000;
  border-radius: 5px;
  display: flex;
  align-items: center;

}

.text{
  flex: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.deletebutton .upbutton{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;

}