.header{
    background-color: rgb(119, 43, 189);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0 auto;
}

.header p{
    color:rgb(105, 103, 116);
}